<phpunit
    bootstrap="vendor/autoload.php"
    colors="true"
    beStrictAboutChangesToGlobalState="true"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutTestsThatDoNotTestAnything="true"
>
    <testsuites>
        <testsuite name="main">
            <directory>test/suite</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <report>
            <text outputFile="php://stdout" showOnlySummary="true"/>
        </report>
    </coverage>

    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>

    <php>
        <ini name="error_reporting" value="-1"/>
        <ini name="memory_limit" value="256M"/>
    </php>
</phpunit>
